.NavBar {
    display: flex;
    align-items: center;
    background-color: antiquewhite;
    justify-self: center;
    padding: 10px;
    justify-content: space-around;
}

.button {
    margin: 10px;
    gap: 10px;
    font-size: normal;
    border-radius: 10px;
    border-color:antiquewhite;
    font-weight: lighter;
    color:lightslategray;
}
